language: php
php:
  - 7.1
notifications:
  email: notifications.github@addiks.de
install:
- composer install
script:
- vendor/bin/phpunit
- vendor/bin/psalm
- vendor/bin/infection -s -vv --min-msi=100
