{
    "timeout": 10,
    "source": {
        "directories": [
            "DataLoader",
            "Doctrine",
            "Exception",
            "Hydration",
            "Mapping",
            "Symfony",
            "ValueResolver"
        ]
    },
    "logs": {
        "text": "infection.log"
    }
}
