<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" 
    backupGlobals="false" 
    colors="true" 
    bootstrap="vendor/autoload.php"
>
  <coverage>
    <include>
      <directory>DataLoader</directory>
      <directory>Doctrine</directory>
      <directory>Exception</directory>
      <directory>Hydration</directory>
      <directory>Mapping</directory>
      <directory>Symfony</directory>
    </include>
    <exclude>
      <directory>vendor</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Addiks-RDMBundle">
      <directory>Tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="error_reporting" value="32767" /> <!-- E_ALL -->
    <ini name="display_errors" value="On" />
  </php>
</phpunit>
